@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    In this project I used one-to-many relationship between tables Products and Categories.<br />
    I corrected fields name and I corrected values in CategoryId<br />
    Controllers and views I have generated with Razor.
</div>
